<div class="container  text-center mt-5 " style="height: 20px; ">
    <div class="row">

        <div class="dropdown col-3">
            <button class=" btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="bi bi-menu-button"></i> All Categories
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>


        <div class="col-7" style="display: inline">
            
            <span class="col" class="demo1">Home <i class="bi bi-app"></i>
                <ul class="list-group">
                    <li class="list-group-item"><a>Ashish</a></li>
                    <li class="list-group-item"><a>Kajal</a></li>
                    <li class="list-group-item"><a>Manisha</a></li>
                </ul>
            </span>&nbsp;

            <span class="col" class="demo1">Shop <i class="bi bi-app"></i>
                <ul class="list-group">
                    <li class="list-group-item"><a>Ashish</a></li>
                    <li class="list-group-item"><a>Kajal</a></li>
                    <li class="list-group-item"><a>Manisha</a></li>
                </ul>
            </span>&nbsp;

            <span class="col" class="demo1">Product <i class="bi bi-app"></i>
                <ul class="list-group">
                    <li class="list-group-item"><a>Ashish</a></li>
                    <li class="list-group-item"><a>Kajal</a></li>
                    <li class="list-group-item"><a>Manisha</a></li>
                </ul>
            </span>&nbsp;

            <span class="col" class="demo1">Mega Menu <i class="bi bi-app"></i>
                <ul class="list-group">
                    <li class="list-group-item"><a>Ashish</a></li>
                    <li class="list-group-item"><a>Kajal</a></li>
                    <li class="list-group-item"><a>Manisha</a></li>
                </ul>
            </span>&nbsp;

            <span class="col" class="demo1">Blog <i class="bi bi-app"></i>
                <ul class="list-group">
                    <li class="list-group-item"><a>Ashish</a></li>
                    <li class="list-group-item"><a>Kajal</a></li>
                    <li class="list-group-item"><a>Manisha</a></li>
                </ul>
            </span>&nbsp;

            <span class="col" class="demo1">Pages <i class="bi bi-app"></i>
                <ul class="list-group">
                    <li class="list-group-item"><a>Ashish</a></li>
                    <li class="list-group-item"><a>Kajal</a></li>
                    <li class="list-group-item"><a>Manisha</a></li>
                </ul>
            </span>&nbsp;

            <span class="col" class="demo1 " >Seller <i class="bi bi-app"></i>
                <ul class="list-group ">
                    <li class="list-group-item"><a>Ashish</a></li>
                    <li class="list-group-item"><a>Kajal</a></li>
                    <li class="list-group-item"><a>Manisha</a></li>
                </ul>
            </span>&nbsp;

        </div>

        <div class="col-2">
            <button class=" btn btn-light" style="color: green;" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="bi bi-lightning-charge" style="color: green;"></i> Deal Today
            </button>
        </div>
    </div>
</div>

<div class="container   mt-5 text-center " >
    <div class="row">
        <span class="col-8">
            <img src="assets/images/1.jpg" alt="hi" width="750px" height="490px" >
        </span>
        <span class="col-4" >
            
            <img src="assets/images/2.jpg" alt="hi" width="300px"  >
            <img src="assets/images/3.jpg" alt="hi" width="300px" style="margin-top: 20px;">
        </span>
    </div>
</div>
