<!-- <div class="container-fluid text-center bg-success " style="height: 50px;">
    <div class="row">
        <div class="col">

        </div>
        <div class="col-8 " style="color: white;padding-top: 13px;">
            <marquee direction="up" [scrollDelay]="300">Welcome to fastkart! wrap new offers/gift every single day on
                weekend.New Coupon Code:</marquee>
        </div>
        <div class="col" style="color: white; padding-top: 13px;">
            English
        </div>
        <div class="col" style="color: white; padding-right: 150px;padding-top: 13px;">
            USD
        </div>
    </div>
</div> -->

<div class="container-fluid text-center bg-success">
    <div class="row">
        <nav class="navbar navbar-expand-lg bg-body-success">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="col-6" style="color: white;padding-top: 13px;">
                        <marquee direction="up" [scrollDelay]="300">Welcome to fastkart! wrap new offers/gift every
                            single day on
                            weekend.New Coupon Code:</marquee>
                    </div>
                    <!-- <div  class="col-2 navbar text-center" style="color: white; padding-top: 13px;">
                        English
                    </div> -->
                    <div class="col-2 navbar text-center" style="color: white; padding-top: 13px; "
                        [ngClass]="userName=='' ? 'classDemo' : 'classDemo1'">
                        <span class="demo2"> Welcome {{userName}}</span>
                    </div>
                    <!-- <div class="col-2 navbar text-center" style="color: white; padding-top: 13px;" *ngIf="userName==''">
                        <button type="button" routerLink="loginnew"><i class="bi bi-person"></i></button>
                    </div>
                    <div class="col-2 navbar text-center" style="color: white;padding-top: 13px; padding-right: 100px;"
                        *ngIf="userName!=''">
                        <button type="button" (click)="logout()">LogOut</button>
                    </div> -->
                </div>
            </div>
        </nav>
    </div>
</div>




<div class="container text-center mt-3 " style="height: 20px;">
    <div class="row">
        <div class="col" style="font-size: xx-large;">
            <strong><span style="color: greenyellow;">Fast</span>
                <span style="color: gray;">Kart.</span>
            </strong>
        </div>
        <div class="col mt-2" style="color: green;">
            <i class="bi bi-geo-alt"></i>&nbsp;&nbsp;
            Your Location
        </div>
        <div class="col input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
                <i class="bi bi-search"></i>
            </span>
            <input type="text" class="form-control" placeholder="I am Searching for..." aria-label="Username"
                aria-describedby="basic-addon1">
        </div>
        <div class="col mt-2" style="display: flexbox;" style="padding-right: 0px;">
            <i class="bi bi-telephone-outbound"></i>&nbsp;&nbsp;|&nbsp;
            <i class="bi bi-heart"></i>&nbsp;&nbsp;|&nbsp;
            <i class="bi bi-cart"></i>&nbsp;&nbsp;|&nbsp;
            <i class="bi bi-person" id="iddata">
                <ng-container *ngIf="userName; then userblock;else loginblock" class="cursor"></ng-container>
                <ng-template #userblock>
                    <ul class="list-group1">
                        <li><a routerLink="myorder"> My Order</a></li>
                        <li><a routerLink="mydata"> My Details</a></li>
                        <li><a (click)="logout()">Logout</a></li>
                    </ul>
                </ng-template>
                <ng-template #loginblock>
                    <ul class="list-group1" >
                        <li><a routerLink="/loginnew">Login</a></li>
                        <li> <a routerLink="/signin">New User</a></li>
                    </ul>
                </ng-template>
            </i>
        </div>
    </div>
</div>