<div class="container-fluid text-center bg-success " style="height: 50px;">
    <div class="row">
        <div class="col">

        </div>
        <div class="col-8 " style="color: white;padding-top: 13px;">
            <marquee direction="up" [scrollDelay]="300">Welcome to fastkart! wrap new offers/gift every single day on
                weekend.New Coupon Code:</marquee>
        </div>
        <div class="col" style="color: white; padding-top: 13px;">
            English
        </div>
        <div class="col" style="color: white; padding-right: 150px;padding-top: 13px;">
            USD
        </div>
    </div>
</div>

<!-- <div class="container text-center "> -->
<!-- second navline -->
<div class="container text-center mt-3 " style="height: 20px;">
    <div class="row">
        <div class="col" style="font-size: xx-large;">
            <strong><span style="color: greenyellow;">Fast</span>
                <span style="color: gray;">Kart.</span>
            </strong>
        </div>
        <div class="col mt-2" style="color: green;">
            <i class="bi bi-geo-alt"></i>&nbsp;&nbsp;
            Your Location
        </div>
        <div class="col input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
                <i class="bi bi-search"></i>
            </span>
            <input type="text" class="form-control" placeholder="I am Searching for..." aria-label="Username"
                aria-describedby="basic-addon1">
        </div>
        <div class="col mt-2" style="display: flexbox;" style="padding-right: 0px;">
            <i class="bi bi-telephone-outbound"></i>&nbsp;&nbsp;|&nbsp;
            <i class="bi bi-heart"></i>&nbsp;&nbsp;|&nbsp;
            <i class="bi bi-cart"></i>&nbsp;&nbsp;|&nbsp;
            <i class="bi bi-person"></i>
        </div>
    </div>
</div>

<!-- <div class="container text-center mt-5 " style="height: 20px;">
    <div class="row">

        <div class="dropdown col">
            <button class=" btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="bi bi-menu-button"></i> All Categories
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>


        <div class="col-7" style="display: inline">

            <span class="col" id="id1">Home <i class="bi bi-app"></i>
                <ul class="list-group">
                    <li class="list-group-item"><a>Ashish</a></li>
                    <li class="list-group-item"><a>Kajal</a></li>
                    <li class="list-group-item"><a>Manisha</a></li>
                </ul>
            </span>&nbsp;

            <span class="col">Shop <i class="bi bi-app"></i></span>&nbsp;
            <span class="col">Product <i class="bi bi-app"></i></span>&nbsp;
            <span class="col">Mega Menu <i class="bi bi-app"></i></span>&nbsp;
            <span class="col">Blog <i class="bi bi-app"></i></span>&nbsp;
            <span class="col">Pages <i class="bi bi-app"></i></span>&nbsp;
            <span class="col">Seller <i class="bi bi-app"></i></span>&nbsp;
        </div>

        <div class="col-2">
            <button class=" btn btn-light" style="color: green;" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="bi bi-lightning-charge" style="color: green;"></i> Deal Today
            </button>
        </div>
    </div>
</div> -->


